# .config is basically unmanaged
# Exclude only the files you want to manage 
/*

!/coc/ultisnips

!/fish
fish/fishd.*
fish/fish_variables

!/git

!/home-manager

!/iterm2
/iterm2/AppSupport

!/direnv

!/gemini
